<div class="animated fadeIn">
  <div class = "row">
    <div class = "col-md-12 col-sm-12">
      <div class = "card">
        <div class = "card-header" style = "text-align: center;">
          <i class="fab fa-linkedin"></i>
          Linkedin Information
        </div>  
        <div class = "card-body">
          <section style = "display: flex;justify-content: center;">
            <img style = "width: 200px;
            height: 200px;
            border-radius: 50%;" src = {{data.profilePicture}}>
          </section>
          <br/>
          <section style = "margin-left: 16%;">
            <div class = "row">
              <label style = "font-size: 1.5rem; width: 40%;"><b><i style = "margin-right: 12px;" class="fas fa-user"></i>Username: </b></label>
              <span style = "font-size: 1.5rem;">   {{data.username}}</span>
            </div>
            <div class = "row">
              <label style = "font-size: 1.5rem; width: 40%;"><b><i style = "margin-right: 12px;" class="fas fa-user"></i>First Name: </b></label>
              <span style = "font-size: 1.5rem;">   {{data.firstName}}</span>
            </div>
            <div class = "row">
              <label style = "font-size: 1.5rem; width: 40%;"><b><i style = "margin-right: 12px;" class="fas fa-user"></i>Last Name: </b></label>
              <span style = "font-size: 1.5rem;">   {{data.lastName}}</span>
            </div>
            <div class = "row">
              <label style = "font-size: 1.5rem; width: 40%;"><b><i style = "margin-right: 12px;" class="fas fa-at"></i>Email: </b></label>
              <span style = "font-size: 1.5rem;">{{data.email}}</span>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
